name: Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
  pull_request:
    paths-ignore:
      - '.github/**'
      - '!.github/workflows/**'
      - 'README.md'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: macOS-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Install clang-format
        run: brew install clang-format

      - name: Run clang-format
        run: |
          # Fails if code is not formatted correctly
          find src -name "*.h" -o -name "*.c" -o -name "*.cpp" | xargs clang-format --dry-run -Werror

  build:
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        include:
          - os: ubuntu-latest
            artifact_pattern: "build/libmonitor_plugin.so"
            release_tag: latest-linux
            release_title: "Wait Trace Plugin - Linux"

          - os: macOS-latest
            artifact_pattern: "build/libmonitor_plugin.dylib"
            release_tag: latest-macOS
            release_title: "Wait Trace Plugin - macOS"

    steps:
      - name: Clone repo
        uses: actions/checkout@v6

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            build-essential \
            pkg-config \
            libglib2.0-dev

      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install \
            cmake \
            pkg-config \
            glib

      - name: Fetch qemu-plugin.h
        run: |
          mkdir -p xemu-mock/include/qemu
          curl -f -L -o xemu-mock/include/qemu/qemu-plugin.h \
            https://raw.githubusercontent.com/xemu-project/xemu/master/include/qemu/qemu-plugin.h

      - name: Configure CMake
        run: |
          # We point XEMU_SOURCE_DIR to our mocked folder containing the header
          cmake -B build \
            -DCMAKE_BUILD_TYPE=Release \
            -DXEMU_SOURCE_DIR="${{ github.workspace }}/xemu-mock"

      - name: Compile
        run: cmake --build build --config Release

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wait-trace-plugin-${{ runner.os }}
          path: ${{ matrix.artifact_pattern }}
